#table {
    max-width: 1180px;
    margin-top: -640px;
    margin-left: 330px;
}
.dir{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dir img {
    height: 10px;
    margin-top: -16px;
    padding: 0px 16px;
}

.main {
    font-weight: bold;
}

#img-main {
    height: 20px;
    padding-left: 0!important;
}