#card-db {
    max-width: 1180px;
    margin-top: -680px;
    margin-left: 380px;
    background: #E5E5E5;
    height: 90vh;
    padding: 10px 20px 30px 30px; 
}
#card-holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dir{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dir img {
    height: 10px;
    margin-top: -16px;
    padding: 0px 16px;
}

.title-button {
    display: flex;
    justify-content: space-between;
}

.title-button img{
    margin-top: -4px;
}

.btn-grp {
    padding-top: 20px;
    display: flex;
    width: 300px;
    justify-content: space-between;
}

